.landing_page {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.hero_section {
  height: calc(100vh - 3rem);
}

.hero_section .content h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.hero_section .btn {
  margin: 2rem 0;
  text-align: center;
}

.hero_section .btn .button {
  color: white;
  border: 2px solid white;
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 8rem;
  border-radius: 1.5rem;
  margin: 0 1rem;
  padding: 0 0.5rem;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
}

.hero_section .btn .button:hover {
  box-shadow: inset 8rem 0 4rem rgb(255, 0, 89);
  border-color: rgb(255, 0, 89);
}

#handouter,
#handgroup {
  animation: updown 2s ease infinite alternate;
}

@keyframes updown {
  100% {
    transform: translateY(-10px);
  }
}

#Head {
  animation: headupdown 2s ease infinite alternate;
}

@keyframes headupdown {
  100% {
    transform: translateY(-2px);
  }
}

#Vector_50,
#Vector_52 {
  animation: leavesshake 2s ease infinite alternate;
}

@keyframes leavesshake {
  100% {
    transform: rotateZ(2deg) translateX(-8px);
    transform-origin: bottom;
  }
}